@import "../sass/colors";

.committee-list {
  //overflow: auto;
  //max-height: 400px;
  padding: 10px 30px;
  .member {
    margin: 4px 4px;
    .name {
      color: $grey900;
      margin-bottom: 0.5rem;
    }
    .affiliation {
      color: $grey600;
      margin-left: 10px;
      font-style: italic;
      //font-size: 14px;
    }
  }
}
