@import "../sass/colors";

.app-main {
  margin: auto;
  margin-top: 0px;
  margin-bottom: 100px;
  margin-left: 0px;
  margin-right: 0px;
  .warning {
    font-size: 17px;
  }
  .title {
    padding: 10px;
    margin: 10px;
    font-size: 27px;
    //text-align: center;
    color: $primary-color;
    font-weight: bolder;
    border-bottom: $grey200 solid 1px;
    > small {
      font-size: 18px;
      font-weight: 300;
      color: $grey800;
    }
  }
  .section {
    max-width: calc(100vw - min(10vw, 100px));
    //margin: 50px;
    width: 100%;
    margin: auto;
    > * {
      //max-width: calc(min(2000px, 100vw - 100px));
      margin: auto;
    }
    background-color: white;
    margin-top: 30px;
    //border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 5px;
  }
}
